* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans', serif;
   color: #333;
}

.container {
   max-width: 50%;
   margin: 0 auto;
}



/* header */

header {
   position: fixed;
   top: 0;
   z-index: 1;
   width: 100%;
   background-color: antiquewhite;
   padding: 21px;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav ul {
   display: inline-block;
   list-style: none;
}

nav li {
   display: inline-block;
}

.logo {
   padding: 0px 18px 0px 0px;
   vertical-align: middle;
}






/* main */

main {
   margin-top: 67px;
}

.jumbotron-container {
   background-color: aquamarine;
   position: relative;
}

.jumbotron-content {
   background-color: cornflowerblue;
   position: relative;
   max-width: 70%;
   margin: 0 auto;
   height: 450px;
   bottom: -60px
}


/* business plan section */

.business-plan {
   margin-top: 120px;
}

.radio-tabs {
   margin-top: 30px;
}

.radio-container {
   display: inline-block;
}


/* business plan cards */

.col-3 {
   margin: 30px -10px 0px -10px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.card {
   display: flex;
   width: calc((100% / 3) - 20px);
   margin: 10px;
   background-color: bisque;
   height: 200px;
   padding: 10px;
   border: 1px solid grey;
}

.premium-plan {
   flex: 100%;
}


/* partners */

.col-2 {
   padding: 80px 0px;
   display: flex;
   height: 400px;
}

.main-col {
   width: 55%;
   background-color: bisque;
}

.min-col {
   width: 45%;
   background-color: rgb(255, 217, 171);
}


/* dev teams */

.team-container {
   display: flex;
}

.team-container div {
   width: calc(100% / 3);
}

.content-box {
   background-color: bisque;
}

.team-logos {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.team-logos img {
   width: calc(100vw / 6);
   height: calc(100vw / 6);
   padding: 60px;
}

.free-trial-bg {
   background-color: aqua;
   padding: 20px 0px;
}


/* free trial */

.free-trial-bg {
   background-color: aqua;
   padding: 20px 0px;
}


/* F.A.Q. */

.faq-container {
   padding: 100px 0px;
}

.questions-container {
   padding: 50px 0px;
}

.question-box {
   padding: 30px 0px;
   border-top: 1px solid #000;
   font-size: 14px;
}

.last-qb {
   border-bottom: 1px solid #000;
}