* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Open Sans', serif;
   color: #212121;
}

.container {
   max-width: 740px;
   margin: 0 auto;
   padding: 80px 0px 20px 0px;
}

hr {
   display: block;
   height: 1px;
   background-color: #d2d2d2;
   width: 20%;
   border: none;
   margin: 24px 0px;
}

.container img {
   width: 100%;
}

ul {
   list-style: none;
}

h1 {
   font-size: 50px;
   font-weight: 800;
}

p {
   font-size: 12px;
   color: rgba(0,0,0,.5);
}

a {
   text-decoration: none;
}



/* header */

header {
   position: fixed;
   top: 0;
   z-index: 1;
   width: 100%;
   height: 66px;
   background-color: #fff;
   box-shadow: 0px 1px 2px rgba(0,0,0,.3);
   padding: 21px;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   vertical-align: middle;
   height: 21px;
}

nav ul {
   display: inline-block;
   list-style: none;
}

nav li {
   display: inline-block;
}

nav li a {
   color: #333;
   padding: 4px 12px;
   font-size: 14px;
}

.color-btn {
   background-color: #2558ff;
   color: #fff;
   padding: 8px 12px;
}

.empty-btn {
   border: 1px solid #d2d2d2;
   color: rgba(0,0,0,.5);
   font-size: 12px;
   padding: 8px 12px;
}




/* main */

main {
   margin-top: 66px;
}

.jumbotron-container {
   background-color: #B4D0E7;
   position: relative;
   font-size: 14px;
}

.container-big {
   max-width: 860px;
   margin: 0 auto;
}

.jumbo-content {
   position: relative;
   bottom: -60px;
}

.jumbo-info {
   display: flex;
   margin-top: 30px;
}

.jumbo-text {
   width: 25%;
   color: #474747;
}

.jumbo-image {
   width: 75%;
}

.jumbo-image img {
   width: 100%;
}

.jumbo-text {
   width: 35%;
}

.jumbo-text a {
   display: inline-block;
   margin: 16px 0px;
}

.jumbo-text i {
   margin-top: 20px;
   font-size: 39px;
}


/* business plan section */

.business-plan {
   margin-top: 50px;
}

.radio-tabs {
   margin-top: 30px;
   font-size: 14px;
}

.radio-box {
   display: inline-block;
}

.radio-box span {
   width: 16px;
   height: 16px;
   background-color: #fff;
   display: inline-block;
   border: 4px solid #2558ff;
   border-radius: 12px;
   vertical-align: middle;
}

.radio-box .inactive-radio {
   border: 1px solid #d2d2d2;
   margin-left: 6px;
}


/* business plan cards */

.col-3 {
   margin: 30px -10px 0px -10px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.card {
   width: calc((100% / 3) - 20px);
   margin: 10px;
   border: 1px solid #d2d2d2;
   font-size: 12px;
}

.premium-plan {
   flex: 100%;
}

.plan-description {
   padding: 20px;
}

.plan-type {
   border-bottom: 1px solid #d2d2d2;
   text-align: center;
   padding: 10px;
}

.plan-price h3 {
   font-size: initial;
   margin-bottom: 10px;
}

.caption {
   color: rgba(0,0,0,.5);
}

.plan-features {
   padding: 24px 0px;
}

.plan-features li {
   display: flex;
}

.description-box {
   padding: 0px 0px 12px 6px;
   color: rgba(0,0,0,.5);
}

.selection-box {
   padding: 10px 0px;
   text-align: center;
}

.selection-box a {
   display: block;
}

.buy-now-box {
   padding: 10px 0px;
   color: rgba(0,0,0,.5);
}

.buy-now-box a {
   text-decoration: underline;
}

.plan-details ul {
   padding: 18px 0px;
}

.plan-details li {
   display: flex;
}

.fa-check {
   color: #2558ff;
}

.enterprice-container {
   display: flex;
}

.ent-info {
   width: 70%;
}

.buy-opt {
   width: 30%;
}

.buy-opt .selection-box {
   padding: 0;
   width: 100%;
}





/* partners */

.col-2 {
   display: flex;
}

.main-col {
   width: 55%;
}

.main-col img {
   width: 100%;
}

.min-col {
   width: 45%;
   padding: 30px;
}

.min-col h3,p {
   margin-bottom: 14px;
}



/* operations */

.operations-card {
   border: none;
   padding: 0px 10px;
}

.operations-card h3 {
   margin-bottom: 14px
}


/* numbers */

.numbers {
   padding-bottom: 50px;
}

.numbers h2 {
   margin-bottom: 30px;
}

.numbers a {
   font-size: 12px;
   text-decoration: underline;
}


/* dev teams */

.dev-teams {
   padding: 0;
}

.team-container {
   display: flex;
}

.team-container div {
   width: calc(100% / 3);
}

.content-box {
   background-color: bisque;
}

.team-logos {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.team-logos .image-box {
   width: calc(100vw / 6);
   height: calc(100vw / 6);
   padding: 60px;
}

.image-box {
   color: #fff;
}

.image-box img {
   width: 100%;
}

.green-bg {
   background-color: #A2D39B;
}








/* free trial */

.free-trial-bg {
   background-color: aqua;
   padding: 20px 0px;
}


/* F.A.Q. */

.faq-container {
   padding: 100px 0px;
}

.questions-container {
   padding: 50px 0px;
}

.question-box {
   padding: 30px 0px;
   border-top: 1px solid #000;
   font-size: 14px;
}

.last-qb {
   border-bottom: 1px solid #000;
}






/* footer */

footer {
   padding: 50px 0px 0px 0px;
   background-color: #000;
   color: #fff;
}

footer .container-big {
   background-color: #000;
   height: auto;
}

.footer-nav {
   display: flex;
   justify-content: space-between;
}

.footer-nav .col {
   width: calc(100% / 5);
}

.col ul {
   list-style: none;
   margin-top: 14px;
   font-size: 14px;
}

.col ul li {
   padding: 4px 0px
}

.language-box {
   padding: 20px 0px;
}