* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}




/* header */

header {
   position: fixed;
   top: 0;
   z-index: 1;
   width: 100%;
   background-color: antiquewhite;
   padding: 21px;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav ul {
   display: inline-block;
   list-style: none;
}

nav li {
   display: inline-block;
}

.logo {
   padding: 0px 18px 0px 0px;
   vertical-align: middle;
}




/* main */

main {
   margin-top: 67px;
}

.jumbotron-container {
   background-color: aquamarine;
   position: relative;
}

.jumbotron-content {
   background-color: cornflowerblue;
   position: relative;
   max-width: 70%;
   margin: 0 auto;
   height: 450px;
   bottom: -60px
}